DB_USER=admin
DB_PASSWORD=secret
HOST=db
PORT=5432
DBNAME=postgres_db
ELASTICSEARCH_PASSWORD="testpassword"
ELASTICSEARCH_URL="http://elasticsearch:9200"
ELASTICSEARCH_USER="elasticuser"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0